.navbar {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: black;
    /* background-color: yellow; */
    padding: 0;
    padding-bottom: 40px;
}

.title {
    /* background-color: red; */
}

@media all and (min-width: 800px){
    body {
        font-size: 10px;
    }
}
