.navbar {
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: black;
    /* background-color: yellow; */
    padding: 0;
    padding-bottom: 40px;
}

.navbar a:hover{
    color: rgb(16, 27, 80);
}

.navbar a:visited{
    color: darkred;
}

.navbar a:link{
    color: black;
}


.title {
    /* background-color: red; */
    font-size: 50px;
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
}

@media all and (max-width: 800px){
    body {
        font-size: 10px;
    }
}
