p {
    color: black;
    /* text-shadow: 2px 2px 5px black; */
}

.main-about-text{
    margin: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 3px #333;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}