.projects-row{
    display: flex;
}

.speak-ez{
    flex: 33.33%;
    /* padding: 1px; */
}

.hogwarts{
    flex: 33.33%;
    /* padding: 1px; */
}

.goat{
    flex: 33.33%;
    /* padding: 1px; */
}

.speak-ez-img{
    width: 300px;
    border: 2px solid black;
    border-radius: 20%;
}

.goat-img{
    width: 300px;
    border: 2px solid black;
    border-radius: 20%;
}

.hogwarts-img{
    width: 300px;
    border: 2px solid black;
    border-radius: 20%;
}

.projects-p {
    margin: auto;
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 3px #333;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;  
    padding: 10px;
}

h2 {
    font-size: 23px;
    color: white;
    /* text-shadow: 10px 10px 30px black; */
}

.projects-row h2{
  font-family: 'Bebas Neue';
  letter-spacing: 4px;
  background: rgba(100, 10, 10, 0.7);
  width: 350px;
  height: 50px;
  border-radius: 30px;
  line-height: 50px;
  color: white;
  margin: 0 auto;
}

@media all and (max-width: 800px){
    .projects-row{
        display: flex;
        flex-direction: column;
    }
}